asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.1.8
colorama==0.4.6
Django==6.0.4
et_xmlfile==2.0.0
gTTS==2.5.4
gunicorn==25.3.0
idna==3.13
openpyxl==3.1.5
packaging==26.2
requests==2.33.1
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.6.3
dj-database-url==2.1.0
